body{
/* Agregando Fuentes */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  background-color: #0F0F0F;
}


.custom-tooltip {
  --bs-tooltip-bg: teal;
  --bs-tooltip-color: white;
}

nav {
  background-color: transparent !important;
}

.company{
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.navbar-toggler:hover{
  border-color: green;
}

.navbar-toggler{
  border-color: white;
}

#destacados .card{
  width: 100%;
}

#destacados .card-img-top{
  height: 200px;
}

#destacados div.favicon{
  height: 100px;
}


