body {
  /* Agregando Fuentes */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #0f0f0f;
}

/* Estilo para el Tooltip */
.custom-tooltip {
  --bs-tooltip-bg: teal;
  --bs-tooltip-color: white;
}
/* Agregando fondo transparente en navbar */
nav {
  background-color: transparent !important;
}
/* Fuente Titulo */
.company {
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* Estilos Boton en pantalla celular */
.toggle-icon {
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.navbar-toggler {
  border: 1px solid #ccc;
  /* Ejemplo de borde personalizado */
  color: #333;
  /* Ejemplo de color de texto personalizado */
  /* Otros estilos personalizados según sea necesario */
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color:  rgba(0, 0, 0, 0.5); /* Negro con 50% de transparencia */
    text-align: center;
    /* Fondo blanco con transparencia */
  }
}

#destacados .card {
  width: 100%;
}

#destacados .card-img-top {
  height: 200px;
}


@media (min-width: 992px) {
  #contact {
    padding: 0px 50px 0px 20px;
  }
}

.favicon{
  height: 50px;
}

i.fav{
  margin: 10px 0px 10px 0px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color:#c1a9e5;
}